<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suites" parallel="tests">
    <test name="MyTest">
        <classes>
            <class name="test.java.tests.testNG.ui.AddFilterTest"/>
        </classes>
    </test>
    <test name="Module4 API Tests">
        <classes>
            <class name="test.java.tests.testNG.api.module4ApiTest" />
        </classes>
    </test>

    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter" />
        <listener class-name="org.testng.reporters.FailedReporter" />
        <listener class-name="org.testng.reporters.JUnitXMLReporter" />
        <listener class-name="org.testng.reporters.XMLReporter" />
    </listeners>

    <test name="Thread 1">
        <groups>
            <run>
                <include name="tag1"/>
            </run>
        </groups>
    </test>

    <test name="Thread 2">
        <groups>
            <run>
                <include name="tag2"/>
            </run>
        </groups>
    </test>
</suite>